

.contact {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.contact .overlap-group-wrapper {
    background-color: #ffffff;
    width: 1438px;
    height: 1024px;
}

.contact .overlap-group {
    position: relative;
    width: 1382px;
    height: 780px;
    top: 122px;
    left: 28px;
    background-image: url(./images/image0-1.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

.contact .overlap {
    position: absolute;
    width: 262px;
    height: 67px;
    top: 702px;
    left: 942px;
    background-color: #fcf4f4;
}

.contact .text-wrapper {
    position: absolute;
    top: 22px;
    left: 91px;
    font-family: "Almendra-Bold", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    text-align: justify;
    letter-spacing: 0;
    line-height: normal;
}

.contact .div {
    position: absolute;
    width: 477px;
    height: 601px;
    top: 79px;
    left: 44px;
}

.contact .rectangle {
    position: absolute;
    width: 477px;
    height: 591px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.contact .tel {
    position: absolute;
    width: 319px;
    top: 316px;
    left: 35px;
    font-family: "Almendra-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 20px;
    text-align: justify;
    letter-spacing: 0;
    line-height: normal;
}

.contact .DEDAL-DES-COULEURS {
    position: absolute;
    width: 407px;
    top: 115px;
    left: 35px;
    font-family: "Almendra-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 20px;
    text-align: justify;
    letter-spacing: 0;
    line-height: normal;
}

.contact .div-wrapper {
    position: absolute;
    width: 533px;
    height: 58px;
    top: 109px;
    left: 691px;
    background-color: #fcf4f4;
}

.contact .text-wrapper-2 {
    position: absolute;
    top: 15px;
    left: 11px;
    font-family: "Almendra-Regular", Helvetica;
    font-weight: 400;
    color: #00000080;
    font-size: 20px;
    text-align: justify;
    letter-spacing: 0;
    line-height: normal;
}

.contact .overlap-2 {
    position: absolute;
    width: 533px;
    height: 58px;
    top: 222px;
    left: 691px;
    background-color: #fcf4f4;
}

.contact .text-wrapper-3 {
    position: absolute;
    top: 17px;
    left: 11px;
    font-family: "Almendra-Bold", Helvetica;
    font-weight: 400;
    color: #00000080;
    font-size: 20px;
    text-align: justify;
    letter-spacing: 0;
    line-height: normal;
}

.contact .overlap-3 {
    position: absolute;
    width: 533px;
    height: 58px;
    top: 338px;
    left: 691px;
    background-color: #fcf4f4;
}

.contact .overlap-4 {
    position: absolute;
    width: 533px;
    height: 216px;
    top: 454px;
    left: 691px;
    background-color: #fcf4f4;
}

.contact .text-wrapper-4 {
    position: absolute;
    top: 94px;
    left: 212px;
    font-family: "Almendra-Bold", Helvetica;
    font-weight: 400;
    color: #00000080;
    font-size: 20px;
    text-align: justify;
    letter-spacing: 0;
    line-height: normal;
}


