

.catalogue {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.catalogue .div {
    background-color: #ffffff;
    width: 1440px;
    height: 1024px;
    position: relative;
}

.catalogue .overlap {
    position: absolute;
    width: 1122px;
    height: 198px;
    top: 158px;
    left: 159px;
    background-image: url(./img/rectangle-17.png);
    background-size: cover;
    background-position: 50% 50%;
}

.catalogue .text-wrapper {
    position: absolute;
    width: 432px;
    top: 76px;
    left: 448px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
}

.catalogue .rectangle {
    width: 190px;
    top: 399px;
    left: 159px;
    position: absolute;
    height: 194px;
    object-fit: cover;
}

.catalogue .img {
    width: 190px;
    top: 399px;
    left: 619px;
    position: absolute;
    height: 194px;
    object-fit: cover;
}

.catalogue .rectangle-2 {
    width: 202px;
    top: 399px;
    left: 1079px;
    position: absolute;
    height: 194px;
    object-fit: cover;
}

.catalogue .rectangle-3 {
    width: 190px;
    top: 672px;
    left: 1091px;
    position: absolute;
    height: 194px;
    object-fit: cover;
}

.catalogue .rectangle-4 {
    width: 190px;
    top: 672px;
    left: 861px;
    position: absolute;
    height: 194px;
    object-fit: cover;
}

.catalogue .rectangle-5 {
    width: 190px;
    top: 399px;
    left: 849px;
    position: absolute;
    height: 194px;
    object-fit: cover;
}

.catalogue .rectangle-6 {
    width: 190px;
    top: 672px;
    left: 631px;
    position: absolute;
    height: 194px;
    object-fit: cover;
}

.catalogue .rectangle-7 {
    width: 190px;
    top: 672px;
    left: 389px;
    position: absolute;
    height: 194px;
    object-fit: cover;
}

.catalogue .rectangle-8 {
    width: 190px;
    top: 399px;
    left: 389px;
    position: absolute;
    height: 194px;
    object-fit: cover;
}

.catalogue .rectangle-9 {
    width: 190px;
    top: 672px;
    left: 159px;
    position: absolute;
    height: 194px;
    object-fit: cover;
}

.catalogue .rectangle-77 {
    width: 1122px;
    height: 200px;
    top: 158px;
    left: 159px;
    position: absolute;
    object-fit: cover;
}

.catalogue .overlap-group {
    position: absolute;
    width: 1340px;
    height: 123px;
    top: 901px;
    left: 0;
    background-color: #fff5f5;
}

.catalogue .tel {
    position: absolute;
    width: 351px;
    top: 15px;
    left: 615px;
    font-family: "Almendra-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    text-align: justify;
    letter-spacing: 0;
    line-height: normal;
}

.catalogue .text-wrapper-2 {
    position: absolute;
    width: 260px;
    top: 60px;
    left: 1067px;
    font-family: "Almendra-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    text-align: justify;
    letter-spacing: 0;
    line-height: normal;
}

.catalogue .DEDAL-DES-COULEURS {
    position: absolute;
    width: 405px;
    top: 15px;
    left: 159px;
    font-family: "Almendra-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    text-align: justify;
    letter-spacing: 0;
    line-height: normal;
}
